COMPOSE_PROJECT_NAME=brokernode
COMPOSE_CONVERT_WINDOWS_PATHS=true

APP_PORT=3000

# DB Creds
# Replace defaults with your own credentials if you want

DB_USER_DEV="root"
DB_PASSWORD_DEV="secret"
DB_NAME_DEV="dev"

DB_USER_TEST="root"
DB_PASSWORD_TEST="secret"
DB_NAME_TEST="test"

# Host IP
# Needed for iota, without host IP your broker will not work

HOST_IP=""

# Ethereum
# Without these you cannot receive PRL revenue

MAIN_WALLET_ADDRESS="(your broker’s main wallet address)"
MAIN_WALLET_KEY="(privatekey to broker’s main wallet"
ETH_NODE_URL="ws://(ip address of eth node):(port)"

# Test mode
# Set to the following options:
# PROD_MODE                 -  Self-explanatory
# TEST_MODE_NO_TREASURE     -  No dummy treasures buried, no offsets
# TEST_MODE_DUMMY_TREASURE  -  Dummy treasures, chunk idx offsets

MODE="PROD_MODE"
# MODE="TEST_MODE_DUMMY_TREASURE"
# MODE="TEST_MODE_NO_TREASURE"

# Experimental
# May not need these

TEST_MODE_WALLET_ADDRESS="this_can_be_anything"
TEST_MODE_WALLET_KEY="9999999999999999999999999999999999999999999999999999999999999999"
TEST_MODE_ETH_NODE_URL="ws://lol:no"

#SEGMENT
SEGMENT_WRITE_KEY=""

#SENTRY
SENTRY_DSN=""
