# ignore IDE/hidden/OS cache files
.*
*~
nbproject
nb-configuration.xml
Session.vim
*.tmproj
*.tmproject
tmtags
Thumbs.db
Desktop.ini

# ignore Composer downloads
/vendor/*
/broker-node/vendor/*
/broker-node/laradock

# keep some hiddens
!.htaccess
!/.gitignore
!/.travis.yml

# Dependency directories
node_modules/